/* Reseteo de estilo básico */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    height: 100%;
}

/* Contenedor principal de la página */
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%; 
}

/* Estilo de las columnas */
.column1, .column2 {
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column1 {
    background-image: url('Fondo2.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.column1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #131e46cd;
}

.column2 {
    background-image: url('Fondo.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilo del texto */
.text {
    color: #ffffffaa;
    font-size: 25px; 
    text-align: center;
    margin: 10px 0;
    position: relative;
    z-index: 5;
}

/* Estilo del logo */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}

.logo img {
    max-width: 90%;
    height: auto;
}

/* Estilo de los cuadros */
.box {
    background-color: #ffffff;
    color: #000000;
    height: 50px;
    width: 90%; 
    max-width: 400px; 
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.731);
    font-weight: bold;
    cursor: pointer;
}

.box:hover {
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.731);
}

/* Estilo general del footer */
footer {
    background-color: #131e46;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.footer-info {
    flex: 1;
    text-align: center;
    margin-bottom: 10px;
}

.footer-social {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Enlaces de redes sociales */
.social-icon {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
    color: #33cc66;
    transform: translateY(-3px);
}

.footer-link {
    color: white; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}

.footer-link:hover {
    color: #33cc66; 
}

/* Media queries para dispositivos más pequeños */
@media (min-width: 768px) {
    .container {
        flex-direction: row; 
    }

    .column1, .column2 {
        width: 50%; 
    }

    .text {
        font-size: 35px; 
    }

    .footer-container {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-info, .footer-links, .footer-social {
        flex: 1;
        margin-bottom: 15px;
    }
}

